<template id="app-address-input">
    <link rel="stylesheet" href="/components/address-input/address-input.css">
    <div class="address-input">
        <label for="departure-address">
            <input type="text" id="departure-address" placeholder="Let's go somewhere ?">
        </label>
        <button id="search-btn">
            <img src="../../assets/loupe.png" alt="loupe"/>
        </button>
        <div class="suggestions" id="suggestions">
            <div id="address-list"></div>
        </div>
    </div>
</template>