* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    display: grid;
    grid-template: 1fr / 1fr 3fr;
    width: 100%;
}

/* Sidebar styling */
.sidebar {
    grid-column: 1;
    background-color: #f0f0f0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.address-input input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #ffffff;
    color: #333;
    cursor: pointer;
}

.swap-button button {
    width: 100%;
    background-color: #999;
    margin: 10px 0;
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Quick buttons (home/work) styling */
.quick-buttons {
    margin-top: 20px;
}

.quick-buttons button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 18px;
    background-color: #a892ae;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.home-btn {
    background-color: #8a7496;
}

.work-btn {
    background-color: #7b6585;
}

/* Saved addresses */
.saved-addresses {
    margin-top: 20px;
}

.saved-addresses button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    font-size: 16px;
    background-color: #d6c1d8;
    border: none;
    border-radius: 5px;
    color: #333;
    cursor: pointer;
}

/* Map section */
.map-section {
    position: relative;
    width: 100%;
    height: 100%;
}

#map {
    width: 100%;
    height: 100%;
    min-height: 450px;
}

.logo {
    height: 104px;
    width: auto;
}
