/* General Styling for the Directions Bubble */
#bubble {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
    height: auto;
    width: 20rem;
}

/* Direction Icon Styling */
#direction-icon img {
    align-content: center;
    width: 40px;
    height: 40px;
}

/* Info Text Styling */
.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
}

.info span {
    height: auto;
    width: 100%;
    text-align: center;
}

#next-direction {
    align-content: center;
    font-size: 16px;
    font-weight: bold;
}

#length {
    align-content: center;
    font-size: 14px;
    color: gray;
}
