<template id="directions-bubble">
    <link rel="stylesheet" href="/frontend/components/directions/directions.css">
    <div id="bubble">
        <div class="info" id="direction-icon">
            <img id="direction-icon-image" src="/frontend/assets/loupe.png" alt="direction-icon">
        </div>
        <div class="info">
            <span id="next-direction">Next-direction</span>
        </div>
        <div class="info">
            <span id="length">Length</span>
        </div>
    </div>
    <script src="directions.js"></script>
</template>