* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    display: grid;
    grid-template: 1fr / 1fr 3fr;
    width: 100%;
}

/* Sidebar styling */
.sidebar {
    position: relative;
    grid-column: 1;
    background-color: #f0f0f0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: visible;
}

.sidebar .close-tab {
    position: absolute;
    right: -24px;
    z-index: 999;
    background-color: #f0f0f0;
    color: #3c4043;
    border-radius: 24px;
    border-style: none;
    box-sizing: border-box;
    fill: currentcolor;
    height: 48px;
    width: 48px;
    max-width: 100%;
    text-align: center;
    cursor: pointer;
}

.sidebar .close-tab img {
    height: 40px;
    width: auto;
    margin-left: 8px;
}

.swap-button button {
    display: none;
    width: 100px;
    background-color: #999;
    margin: 10px 0;
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Quick buttons (home/work) styling */
.quick-buttons {
    margin-top: 20px;
}

.quick-buttons button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 18px;
    background-color: #a892ae;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.home-btn {
    background-color: #8a7496;
}

.work-btn {
    background-color: #7b6585;
}

/* Saved addresses */
.saved-addresses {
    margin-top: 20px;
}

.saved-addresses button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    font-size: 16px;
    background-color: #d6c1d8;
    border: none;
    border-radius: 5px;
    color: #333;
    cursor: pointer;
}

/* Map section */
.map-section {
    position: relative;
    width: 100%;
    height: 100%;
}

#map {
    width: 100%;
    height: 100%;
    min-height: 450px;
}

.logo {
    height: 152px;
    width: auto;
}

#departure-address::placeholder {
    text-align: center;
}

#departure-input {
    display: none;
}

#directions-component{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000; /* Ensure it appears above the map */
    width: auto;
}