.address-input {
    width: 100%;
    margin-top: 30px;
    display: grid;
    grid-template: 1fr 3fr / 5fr 1fr;
    gap: 1em;
}

.address-input input {
    width: 100%;
    max-height: 55px;
    padding: 10px;
    margin-top: 5px;
    font-size: 1rem;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #ffffff;
    color: #333;
    text-align: center;
    cursor: pointer;
}

.address-input #search-btn {
    max-height: 55px;
    margin-left: 10px;
    cursor: pointer;
    background-color: #f0f0f0;
    border: 1px none black;
    border-radius: 10px;
}

.address-input #search-btn img {
    height: 50px;
    width: auto;
}

.suggestions {
    grid-column: 1 / 3;
    background: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    max-height: 150px;
    overflow-x: hidden;
    width: 100%;
    overflow-y: scroll; /* Active le défilement vertical */
    scrollbar-width: none; /* Cache la barre de défilement sur Firefox */
    -ms-overflow-style: none; /* Cache la barre de défilement sur Internet Explorer */
    transition: opacity 0.3s ease-in-out;
    opacity: 1;

}

#suggestions::-webkit-scrollbar {
    display: none; /* Cache la barre de défilement sur Chrome, Safari et Edge */
}

.suggestions div {
    border-bottom: 1px solid #ddd;
    width: 100%;
    cursor: pointer;
    padding-top: 4px;
    padding-bottom: 4px;
}

.displayNone {
    display: none;
}

.displayBlock {
    display: block;
}

#address-list {
    width: 100%;
    font-size: 1rem;
    background-color: #ffffff;
    color: #333;
    text-align: center;
    cursor: pointer;
}

.suggestion-item {
    padding: 8px;
    cursor: pointer;
    background-color: #f9f9f9;
    border-bottom: 1px solid #ddd;
}

.suggestion-item:hover {
    background-color: #e6e6e6;
}


